*{
    font-family: 'Thasadith', sans-serif;
}
body > * {
    max-width: 1500px;
    /* margin: 0 auto; */
}
.googler{
    background-image: url("./icon/1.png");
    height: 56px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
     
}
.googler img{
    width:20px;
    height:31px;
    padding-left: 335px;
}
.googler span{
    padding-left: 50px;
    font-size: 18px;
    color: aliceblue;
    text-align: left;
}
.god{
    background: #474747;
    height: 60px;
    padding-left: 300px;
    display: flex;
    align-items: center;
   
}
.god a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    
    }
    table{
        border-color: aqua;
        border: 5px;
    }

    main{
        padding-left: 300px;
        max-width: 1200px;
        background: rgb(236, 236, 236);
    }
    #teg{
        display: flex;
        align-items: center;
    }
    .name {
        margin: 15px;
        background-color:  #ffffff;
        box-shadow: 0px 1px 1px 0px #000000;
        width: 200px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }

    .name img{
        width: 23px;
        height: 23px;
        padding-right: 10px;
    }
    .fan{
        display: flex;
        padding-left: 250px;
    }
    .fan img{
        /* background-color:  #8f8f8f; */
        box-shadow: 0px 1px 0px 0px #ffffff;
        width: 16px;
        height: 12px;
    }
    .fan label{
        color:  #8f8f8f;
        font-size: 12px;
        text-shadow: 0px 1px 0px #ffffff;
    }
    .fan img, label{
        margin: 10px;
        display: flex;
        justify-content:flex-end;
    }

    #tvich{
        display: flex;
        align-items: center;
        box-sizing: border-box;  
    }

    #tvich .v{
        width: 639px;
        height: 395px;
        padding-left: 15px;
    }
     .o {
        background-color:  #f26c4f;
        width: 19px;
        height: 391px;
    } 
     #b{ 
        background-image: url("./icon/x1.png");
        box-shadow: 0px 1px 1px 0px #000000;
        width: 311px;
        height: 391px;
        display: flex;
    }

        .tex h1{
            margin: 30px;
            padding-top: 20px;
            font-size: 18px;
            color: #fff;
            position: relative;
        }
   
    .tex p{
        color:  #a7a7a7;
        font-size: 12px;
        position: relative;
        margin: 20px;
        
    }
    .help{
        display: flex;
        justify-content: flex-end;
    }

.help img{
    /* background-color:  #8f8f8f; */
    width: 18px;
    height: 18px;
}
.help label{
    color:  #a7a7a7;
    font-size: 12px;
}
.help img, label{
    margin: 5px;
    display: flex;
    justify-content:space-around;
}

#foto{
    display: flex;
}
.fo1{
    margin: 14px;
    background-image: url("./icon/eat1.png");
    box-shadow: 0px 1px 0px 0px #d3d3d3;
    width: 300px;
    height: 379px; 
    /* display:inline-block;   
    position:relative; */
    
    
}
.fo2{
    margin: 14px;
    background-image: url("./icon/eat2.png");
    box-shadow: 0px 1px 0px 0px #d3d3d3;
    width: 300px;
    height: 379px;
    
}
.fo3{
    margin: 14px;
    background-image: url("./icon/eat3.png");
    box-shadow: 0px 1px 0px 0px #d3d3d3;
    width: 300px;
    height: 379px;
}

#foto h1{
    margin: 20px;
    color:  #4f4f4f;
    font-size: 25px;
    position: relative;
}
#foto p{
    margin: 10px;
    color:  #646464;
    font-size: 12px;
    position: relative;
}
#foto img{
    width: 300px;
    height: 189px;
}

#comment{
    margin: 15px;
    display: flex;
    max-width: 625px;
}
.line{
    background-color:  #f26c4f;
    width: 4px;
    height: 173px;
}
#boxer{
    background-color:  #ffffff;
    box-shadow: 0px 1px 1px 0px #000000;
    width: 625px;
    height: 173px;
    display: flex;
    flex-direction: column;
}

#boxer h1{
    padding-left: 20px;
    color:  #474747;
    font-size: 24px;
    text-shadow: 0px 1px 0px #ffffff;
    position: relative;
    height: 0px;
}
.line2{
    display: flex;
    align-items:center;
    /* padding: 10px; */
    margin: 11px;
    height: 0px;
}
.line2 p{
    color:  #8f8f8f;
    font-size: 10px;
    position: relative;
}
.boom{
    margin: 10px;
     background-color:#dfdfdf;  
    width: 1px;
    height: 21px;
}
.boom2{
    margin: 10px;
    background-color:#dfdfdf;  
    width: 1px;
    height: 21px;
}
.line2 img{
    margin: 3px;
    width: 15px;
    height: 14px;
}
#boxer p{
    margin: 14px;
    color:  #707070;
    font-size: 14px;
    position: relative;
}

#boxer:hover{
    background:  #f26c4f;
    box-shadow: 0px 1px 1px 0px #000000;
    color: #fff;
}

#comment2{
    margin: 15px;
    display: flex;
    max-width: 625px;
}
.line3{
    background-color:  #f26c4f;
    width: 4px;
    height: 173px;
}
#boxer2{
    background-color:  #ffffff;
    box-shadow: 0px 1px 1px 0px #000000;
    width: 625px;
    height: 173px;
    display: flex;
    flex-direction: column;
}

#boxer2 h1{
    padding-left: 20px;
    color:  #474747;
    font-size: 24px;
    text-shadow: 0px 1px 0px #ffffff;
    position: relative;
    height: 0px;
}
.line4{
    display: flex;
    align-items:center;
    /* padding: 10px; */
    margin: 11px;
    height: 0px;
}
.line4 p{
    color:  #8f8f8f;
    font-size: 10px;
    position: relative;
}
.boom3{
    margin: 10px;
     background-color:#dfdfdf;  
    width: 1px;
    height: 21px;
}
.boom4{
    margin: 10px;
    background-color:#dfdfdf;  
    width: 1px;
    height: 21px;
}
.line4 img{
    margin: 3px;
    width: 15px;
    height: 14px;
}
#boxer2 p{
    margin: 14px;
    color:  #707070;
    font-size: 14px;
    position: relative;
}

#boxer2:hover{
    background:  #f26c4f;
    box-shadow: 0px 1px 1px 0px #000000;
    color: #fff;
}
#comment3{
    margin: 15px;
    display: flex;
    max-width: 625px;
}
.line5{
    background-color:  #f26c4f;
    width: 4px;
    height: 98px;
}
#boxer3{
    /* padding-left: 20px; */
    background-color:  #ffffff;
    box-shadow: 0px 1px 1px 0px #000000;
    width: 625px;
    height: 98px;
    display: flex;
    flex-direction: column;
}

#boxer3 h1{
    padding-left: 20px;
    color:  #474747;
    font-size: 24px;
    text-shadow: 0px 1px 0px #ffffff;
    width: 531px;
    height: 0px;
}
.line6{
    display: flex;
    align-items:center;
    padding-left: 21px;
    /* margin: 11px; */
}
.line6 p{
    /* padding-left: 15px; */
    color:  #8f8f8f;
    font-size: 10px;
    /* position: relative; */
}
.boom5{
    margin: 10px;
    background-color:#dfdfdf;  
    width: 1px;
    height: 21px;
}
#boxer3:hover{
    background:  #f26c4f;
    box-shadow: 0px 1px 1px 0px #000000;
    color: #fff;
}
#comment4{
    margin: 15px;
    display: flex;
    max-width: 625px;
}
.line4_1{
    background-color:  #f26c4f;
    width: 4px;
    height: 76px;
}
#boxer4_1{
    background-color:  #ffffff;
    box-shadow: 0px 1px 1px 0px #000000;
    width: 625px;
    height: 76px;
    display: flex;
    flex-direction: column;
}

#boxer4_1 h1{
    padding-left: 20px;
    color:  #474747;
    font-size: 18px;
    text-shadow: 0px 1px 0px #ffffff;
    height: 0px;
    
}
.line4_2{
    display: flex;
    align-items:center;
    padding-left: 21px;
}
.line4_2 p{
    color:  #8f8f8f;
    font-size: 10px;
}
.boom4_1{
    margin: 10px;
    background-color:#dfdfdf;  
    width: 1px;
    height: 21px;
}
#boxer4_1:hover{
    background:  #f26c4f;
    box-shadow: 0px 1px 1px 0px #000000;
    color: #fff;
}
#comment5{
    margin: 15px;
    display: flex;
    max-width: 625px;
}
.line5_1{
    background-color:  #f26c4f;
    width: 4px;
    height: 76px;
}
#boxer5_1{
    background-color:  #ffffff;
    box-shadow: 0px 1px 1px 0px #000000;
    width: 625px;
    height: 76px;
    display: flex;
    flex-direction: column;
}

#boxer5_1 h1{
    padding-left: 20px;
    color:  #474747;
    font-size: 18px;
    text-shadow: 0px 1px 0px #ffffff;
    position: relative;
    height: 0px;
}
.line5_2{
    display: flex;
    align-items:center;
    padding-left: 21px;
}
.line5_2 p{
    color:  #8f8f8f;
    font-size: 10px;
}
.boom5_1{
    margin: 10px;
    background-color:#dfdfdf;  
    width: 1px;
    height: 21px;
}
#boxer5_1:hover{
    background:  #f26c4f;
    box-shadow: 0px 1px 1px 0px #000000;
    color: #fff;
}
#comment6{
    margin: 15px;
    display: flex;
    max-width: 625px;
}
.line6_1{
    background-color:  #f26c4f;
    width: 4px;
    height: 76px;
}
#boxer6_1{
    background-color:  #ffffff;
    box-shadow: 0px 1px 1px 0px #000000;
    width: 625px;
    height: 76px;
    display: flex;
    flex-direction: column;
}

#boxer6_1 h1{
    padding-left: 20px;
    color:  #474747;
    font-size: 18px;
    text-shadow: 0px 1px 0px #ffffff;
    position: relative;
    height: 0px;
}
.line6_2{
    display: flex;
    align-items:center;
    padding-left: 21px;
}
.line6_2 p{
    color:  #8f8f8f;
    font-size: 10px;
}
.boom6_1{
    margin: 10px;
    background-color:#dfdfdf;  
    width: 1px;
    height: 21px;
}
#boxer6_1:hover{
    background:  #f26c4f;
    box-shadow: 0px 1px 1px 0px #000000;
    color: #fff;
}
#comment7{
    margin: 15px;
    display: flex;
    max-width: 625px;
}
.line7_1{
    background-color:  #f26c4f;
    width: 4px;
    height: 76px;
}
#boxer7_1{
    background-color:  #ffffff;
    box-shadow: 0px 1px 1px 0px #000000;
    width: 625px;
    max-height: 76px;
    display: flex;
    flex-direction: column;
}

#boxer7_1 h1{
    padding-left: 20px;
    color:  #474747;
    font-size: 18px;
    text-shadow: 0px 1px 0px #ffffff;
    height: 0px;
}
.line7_2{
    display: flex;
    align-items:center;
    padding-left: 21px;
}
.line7_2 p{
     color: #8f8f8f;
    font-size: 10px;
}
.boom7_1{
    margin: 10px;
    background-color:#dfdfdf;  
    width: 1px;
    height: 21px;
}
#boxer7_1:hover{
    background:  #f26c4f;
    box-shadow: 0px 1px 1px 0px #000000;
    color: #fff;
}
#plus{
    padding-left: 15px;
    /* margin: 15px; */
    display: flex;
    max-width: 625px;
}
#box{
    width: 625px;
    max-height: 96px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#box p{
    color:  #bdbdbd;
    font-size: 14px;
}
#box img{
    width: 19px;
    height: 19px;
}

#textboxer{
    margin: 15px;
    display: flex;
    flex-direction: column;
    max-width: 625px;
}
.texter{
    padding:25px;
    background-color:  #ffffff;
    box-shadow: 0px 1px 1px 0px #000000;
    max-width: 620px;
    height: 335px;
    display: flex;
    flex-direction: column;
}
.texter h1{
    width: 308px;
    height: 29px;
    color:  #707070;
    font-size: 24px;
}
.texter p{
    /* font-family: Arial; */
    width: 525px;
    height: 215px;
    color:  #707070;
    font-size: 14px;
}
.texter strong{
    color:  #f26c4f;
    font-size: 14px;
}
.lois{
    background-color:  #efefef;
    box-shadow: 0px 1px 1px 0px #000000;
    width: 625px;
    height: 41px;
    display: flex;
    text-align: left;
    align-items: center;
    /* align-content: flex-end;
    justify-content: flex-end; */
}
.lois p{
    padding-left: 30px;
    color:  #a2a2a2;
    font-size: 12px;
}
.lois img{
    padding-left: 10px;
    width: 11px;
    height: 10px;
}
.lois span{
    padding-left: 500px;
    color:  #a2a2a2;
    font-size: 12px;
}
#banner_b{
    margin: 15px;
    max-width: 625px;
}
.banner_boxer{
    background-image: url("./icon/Layer 13.png");
    box-shadow: 0px 1px 1px 0px #000000;
    width: 620px;
    height: 613px;
}
.banner_boxer div{
    width: 620px;
    height: 305px;
}
.banner_boxer h1{
    width: 505px;
    height: 99px;
    padding-left: 50px;
    color:  #707070;
    font-size: 30px;
}

.banner_boxer p{
    width: 485px;
    height: 109px;
    padding-left: 50px;
    color:  #949494;
    font-size: 14px;
}
#text_box_4{
    display: flex;
    margin: 15px;
    max-width: 625px;
}
.tb4{
    background-color:  #ffffff;
    box-shadow: 0px 1px 1px 0px #000000;
    width: 620px;
    height: 482px;
    padding: 50px;
}
.tb4 h1{
    width: 386px;
    height: 29px;
    color:  #707070;
    font-size: 30px;
}
.tb4 p{
    width: 525px;
    height: 324px;
    color:  #949494;
    font-size: 14px;
}

#banner_l{
    background: #000000;
    width: 300px;
height: 581px;
}
#golova{
    display: flex;
}
#test_1{
    margin: 15px;
    max-width: 300px;
}
.fo4{
    background-image: url("./icon/eat4.png");
    box-shadow: 0px 1px 0px 0px #d3d3d3;
    width: 300px;
    height: 581px;
}
.fo4 h1{
    color:  #ffffff;
    font-size: 25px;
    margin: 20px;
    position: relative;
}

.fo4 p{
    color:  #ffffff;
    font-size: 12px;
    margin: 20px;
    position: relative;
}
.fo4 img{
    width: 300px;
    height: 294px;
}
#ful_text{
    margin: 15px;
    max-width: 300px;
}
.vers_1 h1{
    color:  #474747;
    font-size: 19px;
    height: 40px;
    padding: 10px;
}

.vers_1 p{
    color:  #a7a7a7;
    font-size: 12px;
    padding: 10px;
}
.vers_1 div{
    background-color:  #a7a7a7;
    box-shadow: 0px 1px 0px 0px #ffffff;
    width: 274px;
    height: 1px;
}
.vers_2 h1{
    color:  #474747;
    font-size: 19px;
    height: 40px;
    padding: 10px;
}

.vers_2 p{
    color:  #a7a7a7;
    font-size: 12px;
    padding: 10px;
}
.v1{
    display: flex;
    text-align: left;
    align-items: center;
    background-color:  #ffffff;
    box-shadow: 0px 1px 1px 0px #000000;
    width: 300px;
    height: 44px;
    margin: 5px;
}
.v1 b{
    color:  #474747;
    font-size: 16px;
    padding: 16px;
}
.v1 p{
    color:  #a7a7a7;
    font-size: 12px;
}
.v2{
    display: flex;
    text-align: left;
    align-items: center;
    background-color:  #ffffff;
    box-shadow: 0px 1px 1px 0px #000000;
    width: 300px;
    height: 44px;
    margin: 5px;
}
.v2 b{
    color:  #474747;
    font-size: 16px;
    padding: 16px;
}
.v2 p{
    color:  #a7a7a7;
    font-size: 12px;
}
.v3{
    display: flex;
    text-align: left;
    align-items: center;
    background-color:  #ffffff;
    box-shadow: 0px 1px 1px 0px #000000;
    width: 300px;
    height: 44px;
    margin: 5px;
}
.v3 b{
    color:  #474747;
    font-size: 16px;
    padding: 16px;
}
.v3 p{
    color:  #a7a7a7;
    font-size: 12px;
}
.v4{
    display: flex;
    text-align: left;
    align-items: center;
    background-color:  #fff;
    box-shadow: 0px 1px 1px 0px #000000;
    width: 300px;
    height: 44px;
    margin: 5px;
}
.v4 b{
    color:  #474747;
    font-size: 16px;
    padding: 16px;
}
.v4 p{
    color:  #a7a7a7;
    font-size: 12px;
}
footer{
    background-color:  #373737;
    width: 1485px;
    height: 140px;
}
.foot1{
    display: flex;
    padding-left: 300px;
}
.foot1 p{
    margin: 30px;
    color:  #ffffff;
    font-size: 12px;
}
.foot2{
    padding-left: 315px;
}
.foot2 p{
    color:  #7e7e7e;
    font-size: 11px;
    width: 762px;
    height: 32px;
}